.Header {
  display: flex;
  align-items: center;
  gap: 32px;
}

.Title {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
}

.Workspace {
  font-size: 13px;
  font-weight: bold;
  color: #c7c7c7;
}

.Path {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.Actions {
  display: flex;
  gap: 8px;
}
