.Button {
  display: flex;
  width: 232px;
  padding: 8px 16px;
  box-sizing: border-box;
  border: none;
  background-color: black;
  color: #ffffff;
  cursor: pointer;
  border-radius: 6px;
  justify-content: center;
  font-weight: bold;
  transition: 0.1s;
}

.Button:active {
  transform: scale(0.98);
  transition: 0.1s;
}
