.Button {
  display: flex;
  width: 232px;
  padding: 8px 16px;
  box-sizing: border-box;
  border: none;
  background-color: black;
  color: #ffffff;
  cursor: pointer;
  border-radius: 6px;
  justify-content: center;
  font-weight: bold;
  transition: 0.1s;
}

.Button:active {
  transform: scale(0.98);
  transition: 0.1s;
}

.Button.Error {
  animation: horizontal-shaking 0.5s;
}

.Button.Disabled {
  background-color: #f2f2f2;
  color: #c7c7c7;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
    background-color: #e72424;
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
